<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 작성 페이지</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/board.js}"></script>
</head>
<body>

<form id="dataForm" method="post">
    <table>
        <caption>게시판 글작성</caption>
        <tr>
            <td>작성자</td>
            <td><input type="text" id="writer" name="writer" size=10 maxlength=8 style="width:200px"></td>
        </tr>
        <tr>
            <td>제 목</td>
            <td><input type="text" id="title" name="title" style="width:720px"></td>
        </tr>
        <tr>
            <td>내 용</td>
            <td><textarea id="content" name="content" rows="10" cols="100"></textarea></td>
        </tr>
        <tr>
            <td colspan="2">
                <div align="center">
                    <button type="button" onclick="saveBoard()" name="submitBtn">등록</button>
                </div>
            </td>
        </tr>
    </table>
</form>
</body>
</html>